# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_DEFAULT_HOSTNAME="rtl8730e"
CONFIG_SYSVIPC=y
# CONFIG_CROSS_MEMORY_ATTACH is not set
CONFIG_NO_HZ_IDLE=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_LOG_BUF_SHIFT=12
CONFIG_BLK_DEV_INITRD=y
# CONFIG_RD_BZIP2 is not set
# CONFIG_RD_LZMA is not set
# CONFIG_RD_XZ is not set
# CONFIG_RD_LZO is not set
# CONFIG_RD_LZ4 is not set
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_BASE_FULL=y
CONFIG_SHMEM=y
CONFIG_EMBEDDED=y
# CONFIG_VM_EVENT_COUNTERS is not set
CONFIG_ARCH_AMEBASMART=y
CONFIG_HOTPLUG_CPU=y
CONFIG_ARM_PSCI=y
# CONFIG_ARM_MODULE_PLTS is not set
# CONFIG_ATAGS is not set
# CONFIG_SUSPEND is not set
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
# CONFIG_COREDUMP is not set
# CONFIG_COMPACTION is not set
CONFIG_CMA=y
CONFIG_CMA_DEBUG=y
CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_INET=y
# CONFIG_INET_DIAG is not set
# CONFIG_IPV6_SIT is not set
CONFIG_IPV6_SUBTREES=y
CONFIG_IPV6_MROUTE=y
CONFIG_IPV6_SEG6_LWTUNNEL=y
CONFIG_NETFILTER=y
# CONFIG_NETFILTER_INGRESS is not set
CONFIG_NETFILTER_XT_MARK=m
CONFIG_NETFILTER_XT_TARGET_LOG=m
CONFIG_NETFILTER_XT_TARGET_TCPMSS=m
CONFIG_NETFILTER_XT_MATCH_COMMENT=m
CONFIG_NETFILTER_XT_MATCH_LIMIT=m
CONFIG_NETFILTER_XT_MATCH_MAC=m
CONFIG_NETFILTER_XT_MATCH_MULTIPORT=m
CONFIG_NETFILTER_XT_MATCH_TIME=m
CONFIG_IP_NF_IPTABLES=m
CONFIG_IP_NF_FILTER=m
CONFIG_IP_NF_TARGET_REJECT=m
CONFIG_IP_NF_MANGLE=m
CONFIG_IP6_NF_IPTABLES=m
CONFIG_IP6_NF_FILTER=m
CONFIG_IP6_NF_TARGET_REJECT=m
CONFIG_IP6_NF_MANGLE=m
CONFIG_BPF_JIT=y
CONFIG_BT=y
CONFIG_BT_RFCOMM=m
CONFIG_BT_RFCOMM_TTY=y
CONFIG_BT_BNEP=m
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_BT_HIDP=m
# CONFIG_BT_HS is not set
CONFIG_BT_HCIUART=y
CONFIG_BT_HCIUART_H4=y
CONFIG_CFG80211=y
CONFIG_CFG80211_WEXT=y
CONFIG_RFKILL=y
# CONFIG_LWTUNNEL_BPF is not set
CONFIG_UEVENT_HELPER=y
CONFIG_UEVENT_HELPER_PATH="/sbin/mdev"
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_MTD=y
CONFIG_MTD_BLOCK=y
CONFIG_MTD_BLOCK2MTD=y
CONFIG_MTD_SPI_NAND=y
CONFIG_MTD_SPI_NOR=y
CONFIG_MTD_UBI=y
CONFIG_MTD_UBI_BLOCK=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_SCSI=y
CONFIG_BLK_DEV_SD=y
CONFIG_MD=y
CONFIG_BLK_DEV_DM=y
CONFIG_DM_INIT=y
CONFIG_DM_VERITY=y
CONFIG_NETDEVICES=y
# CONFIG_USB_NET_DRIVERS is not set
CONFIG_HOSTAP=y
CONFIG_HOSTAP_FIRMWARE=y
CONFIG_HOSTAP_FIRMWARE_NVRAM=y
# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_INPUT_MOUSE is not set
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_INPUT_MISC=y
# CONFIG_SERIO is not set
# CONFIG_VT is not set
# CONFIG_DEVMEM is not set
# CONFIG_HW_RANDOM is not set
CONFIG_SPI_SPIDEV=y
CONFIG_SPI_SLAVE=y
CONFIG_PINCTRL=y
# CONFIG_HWMON is not set
CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_SOC=y
CONFIG_SND_SOC_REALTEK=y
CONFIG_SND_SOC_RTK_AMEBA=y
CONFIG_SND_SOC_RTK_CAPTURE_TIMER=y
CONFIG_HID_BATTERY_STRENGTH=y
CONFIG_HIDRAW=y
# CONFIG_USB_HID is not set
CONFIG_USB=m
CONFIG_USB_STORAGE=m
CONFIG_USB_STORAGE_REALTEK=m
CONFIG_USB_DWC2=m
CONFIG_USB_GADGET=m
CONFIG_USB_CONFIGFS=m
CONFIG_USB_CONFIGFS_F_LB_SS=y
CONFIG_USB_CONFIGFS_F_ACC=y
CONFIG_USB_CONFIGFS_F_HID=y
CONFIG_DMADEVICES=y
CONFIG_UIO=y
CONFIG_UIO_PDRV_GENIRQ=y
CONFIG_STAGING=y
CONFIG_ASHMEM=y
# CONFIG_ARM_ARCH_TIMER_EVTSTREAM is not set
# CONFIG_IOMMU_SUPPORT is not set
CONFIG_ANDROID=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_ANDROID_BINDER_DEVICES="binder"
CONFIG_TEE=y
CONFIG_OPTEE=y
CONFIG_RTK_DRIVERS=y
CONFIG_ADC_RTK_AMEBA=y
CONFIG_CAPTOUCH_RTK_AMEBA=y
CONFIG_WIFI_RTK_CFG80211=y
CONFIG_NIC_RTK_RTL8730E=m
CONFIG_CRYPTO_RTK_AMEBA=y
CONFIG_HASH_RTK_AMEBA=y
CONFIG_AES_RTK_AMEBA=y
CONFIG_TOUCHSCREEN_RTK_AMEBA=y
CONFIG_DMAC_RTK_AMEBA=y
CONFIG_DRM_RTK_AMEBA=y
CONFIG_IPC_RTK_AMEBA=y
CONFIG_IR_RTK_AMEBA=y
CONFIG_I2C_RTK_AMEBA=y
CONFIG_I2C_SLAVE_RTK_AMEBA=y
CONFIG_KM4_CONSOLE_AMEBA=y
CONFIG_LEDC_RTK_WS28XXX=y
CONFIG_MISC_RTK_AMEBA=y
CONFIG_OTP_RTK_AMEBA_CORE=y
CONFIG_OTP_RTK_AMEBA_CDEV=y
CONFIG_PWM_RTK_AMEBA=y
CONFIG_RTC_RTK_AMEBA=y
CONFIG_SPIC_RTK_AMEBA_RXI312=y
CONFIG_SPI_RTS_QUADSPI_POLLING=y
CONFIG_MMC_RTK_AMEBA_SDIOH=y
CONFIG_SPI_RTK_AMEBA=y
CONFIG_THERMAL_RTK_AMEBA=y
CONFIG_SERIAL_RTK_AMEBA=y
CONFIG_SERIAL_RTK_AMEBA_CONSOLE=y
CONFIG_SERIAL_RTK_AMEBA_GENERIC=y
CONFIG_USB_RTK_AMEBA_USB20PHY=m
CONFIG_WATCHDOG_RTK_AMEBA=y
CONFIG_OVERLAY_FS=y
CONFIG_TMPFS=y
CONFIG_JFFS2_FS=y
CONFIG_UBIFS_FS=y
# CONFIG_UBIFS_FS_SECURITY is not set
CONFIG_SQUASHFS=y
# CONFIG_NETWORK_FILESYSTEMS is not set
CONFIG_CRYPTO_PCRYPT=y
# CONFIG_CRYPTO_HW is not set
CONFIG_FRAME_WARN=4096
# CONFIG_SCHED_DEBUG is not set
# CONFIG_DEBUG_BUGVERBOSE is not set
# CONFIG_FTRACE is not set
