// SPDX-License-Identifier: GPL-2.0-only
/*
* Realtek DTS for display test
*
* Copyright (C) 2023, Realtek Corporation. All rights reserved.
*/

/dts-v1/;

#include "rtl8730e.dtsi"
#include "rtl8730e-spi-nand-128m.dtsi"
#include "rtl8730e-drm.dtsi"

/ {
	memory {
		device_type = "memory";
		// DRAM base address should be 1MB-aligned.
		reg = <0x60300000 0x7D00000>;  // 128MB -- exclude 3MB secure memory
	};
	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		// reserver 32M mem for drm graphics , from 0x61000000 to 0x63000000
		mem_drm_reserved: drm_buffer@0x61000000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x61000000 0x2000000>;
			//linux,cma-default;
		};
	};
};

// Configure peripherals, avoid pinmux conflicts.


&drm {
	status = "okay";
};

&dsi {
	status = "okay";
};

&rtkpanel {
	compatible = "realtek,st7701s";
	pinctrl-names="default";
	pinctrl-0 = <&drm_disable_swd_pins>;
	mipi-gpios = <&gpioa 14 0>;
	status = "okay";
};


&i2c0{
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "disabled";
};

&i2c1{
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	status = "disabled";
};

&i2c2{
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;
	status = "okay";

	rtk_ts@1a {
		compatible = "realtek,ameba-ts";
		reg = <0x1a>;
		ts-reset-gpios = <&gpioa 10 0>;
		ts-irq-gpios = <&gpioa 9 0>;
		max-touch-number = <5>;
		ts-display-coords = <480 800>;
		status = "okay";
	};
};

